<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body style="background-color: rgb(144, 185, 186);">
    <h1 style="background-color: rgb(224, 224, 188); border-radius: 15px; width: 97vw; height: 15vh; display: flex; justify-content: center; align-items: center;">Acerca de mi</h1>
    <hr>
    <div style="background-color: rgb(224, 224, 188); border-radius: 15px; width: 97vw; height: 42vh; display: inline-block; text-align: center;">
        <p>¡Hola mundo!<br> Mi nombre es Martín Hasmat, y soy un <b>developer in progress...</b> 😎</p>
        <p>En este blog, quiero ir dejando registro de mi avance como estudiante de <b>Cerebro-Backend</b>.<br>Sería como una vitácora de viaje...</p>
        <p>
            Hace un tiempo ya, vengo estudiando programación, con el objetivo de lograr un perfil <b>fullstack</b>. Y ahora voy por <b>Django</b>, convencido de que es una herramienta poderosa para el <b>desarrollo backend</b>.
        </p>
        <p>Deseo disfrutar plenamente este viaje. Nos vemos en tierra!!!</p>
    </div>
    <hr>
    <a href="{% url 'blog:inicio' %}" style="text-decoration: none;font-weight: bold; color: black;">🔙 Ir a Inicio</a>
        
</body>
</html>