<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body style="background-color: rgb(144, 185, 186);">
    <a href="{% url 'blog:inicio' %}" style="text-decoration: none;font-weight: bold; color: black;">🔙 Ir a Inicio</a>
    <hr>
    <h1 style="background-color: rgb(224, 224, 188); border-radius: 10px; padding: 5px 15px;">Lista de Posts</h1>
    {% for post in posts %}    
        <article style="background-color: rgb(224, 224, 188); border-radius: 10px; padding: 5px 15px;">
            <h2>
                <a href="/post/{{ post.id }}/">{{ post.titulo }}</a>
            </h2>
            <p>{{ post.contenido|truncatewords:20 }}</p>
            <a href="/post/{{ post.id }}/" style="color: goldenrod; text-decoration: none;">Leer más</a>
            <br><br>
            <small>Autor: {{ post.autor }} | Fecha: {{ post.fecha_creacion }}</small>
            {% if post.autor == 'admin' %}
                <h5 style="color: red; font-style: italic;">Contenido Exclusivo</h5>
            {% endif %}
        </article>
        <hr>
    {% empty %}
        <h3>😛 No hay posts publicados aún!</h3>
    {% endfor %}
</body>
</html>