<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Posts Por Categoría</title>
</head>
<body>
  <a href="/blog">Volver a la lista de posts</a>
  <hr>
  <h1>Posts de la categoría {{ categoria.nombre }}</h1>
  {% for post in posts %}
    <h3>{{ post.titulo }}</h3>
    <p>{{ post.contenido }}</p>
    <br>
    <small>Autor: <strong>{{ post.autor }}</strong> | Fecha: {{ post.fecha_creacion }} | Total {{ post.contenido|wordcount }} palabras</small>
    <hr>
    <br>
  {% empty %}
    <p>No hay posts en esta categoría</p>
  {% endfor %}
  
</body>
</html>